repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
  - id: terraform_fmt
  #- id: terraform_validate
  - id: terraform_tflint
  #- id: terraform_checkov
  - id: terraform_docs
  #- id: infracost_breakdown

- repo: https://github.com/frnmst/md-toc
  rev: 9.0.0  # or a specific git tag from md-toc
  hooks:
  - id: md-toc
    args: [-s, '1', -p, github, README.md]
